tactics
Select a strategy 
<a href="/teams/selecttactic/1">number 1</a>
<a href="/teams/selecttactic/2">number 1</a>
<a href="/teams/selecttactic/3">number 3</a>
<a href="/teams/selecttactic/4">number 4</a>
<a href="/teams/selecttactic/5">number 5</a>
<a href="/teams/selecttactic/6">number 6</a>