body {
	margin:0px;
	pading:0px;
}
.main {
	position:relative;
	clear:left;
	width:758px;
	height:846px;
	background-color:red;
}
.header {
	position:relative;
	clear:left;
	width:758px;
	height:80px;
}
.navigation {
	position:relative;
	clear:left;
}
.navigation .button{
	position:relative;
	float:left;
	margin-right:10px;
}
.content {
	position:relative;
	clear:left;
	width:758px;
}
.footer {
	position:relative;
	clear:left;
	width:758px;
}
