	</div>
	<div class="footer">footer</div>
	
	<!--<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>//-->
	<script src="http://static.ak.facebook.com/js/api_lib/v0.2/FeatureLoader.js" type="text/javascript"></script>
<script type="text/javascript">

FB_RequireFeatures("CanvasUtil", function(){
	//FB.XdComm.Server.init(<site relative url to xd_receiver.htm>); 
//FB.XdComm.Server.init('xd_receiver.htm')
//new FB.ApiClient('c2c129ce13a424d07afabded391357e2', 'xd_receiver.htm', null);
//FB.XdComm.Server.init('xd_receiver.htm');
//FB.CanvasClient.startTimerToSizeToContent();
FB.CanvasClient.setCanvasHeight("293px");
});
</script>
</body>
</html>