<div class="navigation">
	<div class="button"><a href="/teams/">Team</a></div>
	<div class="button"><a href="/games/">Games</a></div>
	<div class="button"><a href="/scores/">Score</a></div>
	<div class="button"><a href="/prize/">Prize</a></div>
</div>
